.button
  display: flex
  justify-content: center
  align-items: center
  background: transparent
  font: inherit
  line-height: 100%
  font-weight: 700
  color: inherit
  cursor: pointer

  &__icon
    font-size: 2rem
    line-height: 100%
    margin: 0 .8rem

  &_position
    &_left
      flex-direction: row

    &_right
      flex-direction: row-reverse

    &_top
      flex-direction: column
      padding-top: .6rem

    &_bottom
      flex-direction: column-reverse

  &_variant
    &_texted
      vertical-align: center
      border: none

      &:hover
        filter: drop-shadow(0px 0px 2px #2aff2a)

      &:active
        color: #2aff2a
        filter: none

    &_filled, &_bordered
      border-radius: .3rem
      border: 1px solid white
      color: white
      .button__icon
        margin: 1rem

      &:hover
        box-shadow: 0 0 4px #2aff2a

      &:active
        color: #2aff2a
        box-shadow: none

    &_filled
      background: #2b2b2b
      border-radius: 2rem
      border: none
      padding: 1rem